.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Button {
  width: 150px;
  background-color: red;
  border-radius: 5px;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.Fancy {
  font-size: 36;
  font-family: fantasy;
}
